body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;
}

#header p {
  text-align: center;
  margin: 0;
}
#sizegrid {
  display: flex;
}

#sizeinput {
  margin: 10px 10px
}

#drawgrid {
  display: flex;
  flex-wrap: wrap;
  width: 80vmin; 
  height: 80vmin;
  border: 2px solid black;
}

.drawbox {
  aspect-ratio: 1;       
  border: 1px solid black;
  background-color: white;
  box-sizing: border-box;
}